/* Color definitions, gruvbox style */
:root {
  --background: #ffece0;
  --primary: #1d2021;
  --text: #000;
  --accent: #ec4e4e;
  --muted: #c9838d;
}

/* {main: */
html {
  background-color: var(--background);
}

body {
  /* TODO: get something working if on mobile */
  max-width: 1200px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 350;
  color: var(--text);
}

h1,h2,h3,h4 {
  line-weight: 1.2;
  color: var(--text);
}
h1 { font-size: 33px }
h2 { font-size: 31px }
h3 { font-size: 29px }
h4 { font-size: 27px }

a { color: var(--accent) }
a:visited { color: var(--muted) }
/* :main} */

table, th, td {
  padding: .2em;
  border-collapse: collapse;
  border: 2px solid black;
}
/* svg {
  stroke: var(--text);
  /* stroke-width: -.1px;
  fill: white;
} 
*/